* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 4rem;
    
}
h1, h2 {
    font-family: sans-serif;
}
.nav-bg{
    background-color: rgb(39, 134, 151);
}
.navbar-brand h2 {
    font-family: sans-serif;
}

body {
    min-height: 100vh;
}

.odibee-sans-regular {
    font-family:  sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.bungee-regular {
    font-family:  sans-serif;
    font-weight: 400;
    font-style: normal;
  }

p {
    white-space:pre-line;
}

hr {
    opacity: 1;
    height: 1rem;
    border: none;
    background-color: rgb(39, 134, 151);
}

.logo {
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in;
}

.logo:hover {

    text-shadow: -0.2rem 0.1rem 0px rgb(30, 31, 31);
}



.top-nav span {
    padding:0.2rem;

}

.top-nav .active-icon {
    background-color: white;
    border-radius: 50%;
    color:black;
}

.top-nav a {
    padding: 0px !important;
}


@media only screen and (max-width:800px)  {
    .hero {
        transform: skewX(0deg);
        transition: all 0.3s ease-in;
    }
}